<div class="container">
  <form method="POST" class="form">
    <mat-form-field class="full-width">
      <input [(ngModel)]="email" type="text" name="Username" matInput placeholder="Username" required  />
    </mat-form-field>

    <mat-form-field class="full-width">
      <input name="password" [type]="hide ? 'password' : 'text'" matInput placeholder="Enter your password" minlength="8" required  [(ngModel)]="password" >
      <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <br />
    <input class="button" type="submit" (click)="sendForm()">
  </form>
</div>


