<!-- container -->
<div>
    <!-- Form for sign in -->
    <div>
        <form action="" method="POST" id="First_form">
            <label for="Username"> Username:</label> <br />
            <input type="text" name="Username" id="Username" placeholder="Text imput" />
            <br />
            <label for="pass">Password:</label> <br />
            <input type="password" name="password" placeholder="Text imput" minlength="8" required>
            <br />
            <input type="submit" value="Submit">
        </form>

    </div>

</div>